@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;



/* positioning the images in the Action Component */
.parent{
    position: relative;
        top: 0;
        left: 0;
        margin: 20px;
}

 .bottom_image{
    position: absolute;
    top: 0;
    right: 0px;
    
}

.top_image{
    position: relative;
        top: 130px;
        left: 75px;

}